@model ViewModel

<div>
    <div style="margin-bottom: 10px" id="add-product-form">
        @Html.Partial("CreateProcessor", new Processor())
    </div>
    <div id="add-product-form">
        @Html.Partial("CreateGraphicCard", new GraphicCard())
    </div>
</div>

