@model Processor

<div class="form__inner">
    <h2 class="form__title">Добавить процессор</h2>
    <form class="form__box" asp-action="CreateProcessor" method="post">
        <div>
            <label asp-for="Name">Название</label>
            <input type="text" asp-for="Name" />
        </div>
        <div>
            <label asp-for="Price">Цена</label>
            <input asp-for="Price" type="number" step="0.01" />
        </div>
        <div>
            <label asp-for="ImgSrc">Изображение</label>
            <input asp-for="ImgSrc" type="file" />
        </div>
        <div>
            <label asp-for="Cores">Ядра</label>
            <input asp-for="Cores" type="number" step="1" />
        </div>
        <div>
            <label asp-for="Threads">Потоки</label>
            <input asp-for="Threads" type="number" step="1" />
        </div>
        <p>
            <button class="button" type="submit">Добавить процессор</button>
        </p>
    </form>
</div>