<div class="block">
	<h1>Панель администратора</h1>
	<div class="">
		<ul>
			<li>Взаимодейтвие с товарами
				<ul class="admin-page__sub-list">
					<li><a asp-action="GoodsInfo">Информация о товарах</a></li>
					<li><a asp-action="AddGoods">Пополнить товары</a></li>
					<li><a asp-action="AddDevice">Добавить товары</a></li>
				</ul>
			</li>
			<li>Взаимодейтвие с заказами
				<ul class="admin-page__sub-list">
					<li><a asp-action="AllSales">Все продажи</a></li>
				</ul>
			</li>
			<li>Взаимодейтвие с пользователями
				<ul class="admin-page__sub-list">
					<li><a asp-action="UserManagement">Управление пользователями</a></li>
				</ul>
			</li>
		</ul>		
	</div>	
</div>

